body {
    background-color: rgb(249, 193, 241);
    color: rgb(37, 7, 142);
    font-family: Arial; 
    margin: 0px;
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(147, 244, 181);
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(147, 244, 181);
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
}

a {
    color: green; 
    text-decoration: none;
}
a:visited {
    color: rgb(220, 93, 38);
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}
a:active {
    color: pink;
    background-color: green;
}