body {
    background-color: rgb(249, 193, 241);
    color: rgb(37, 7, 142);
    font-family: Arial; 
    margin: 0px;
}

header {
    background: linear-gradient(to right, red, orange, yellow,green,blue,darkblue,purple);
    color: rgb(147, 244, 181);
    padding: 10px;
    font-size: 16pt;
}

footer {
    background: linear-gradient(to right, red, orange, yellow,green,blue,darkblue,purple);
    color: rgb(147, 244, 181);
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
}

a {
    color: green; 
    text-decoration: none;
    transition: 2s;
}
a:visited {
    color: rgb(220, 93, 38);
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 0.3s;
    text-shadow: 3px 3px 2px black;
}
a:active {
    color: pink;
    background-color: green;
}